/* Reset any previous style */
@import url('reset.css');

/* @group -GLOBAL
------------------------------------------------------------------------------------------*/
html,
body{
	width: 100%;
	height: 100%;
	min-height: 500px;
	min-width: 350px;
}
body{
	background: none;
	color: #777;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 100%;
	min-height: 500px;
}

a{
	color: #666;
	text-decoration: none;
}
a:hover{
	color: green;
}

section{
	padding-top:1.8em;
	width:100%;
	min-height: 100%;
	min-height: 500px;
}

h1{
	font-size: 2em;
	color: #000;
	font-weight: 400;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    padding: 0.4em 0 0 0;
	z-index:1000;
	text-transform: uppercase;
	text-align: center;
}
h2{
	font-size: 1.7em;
	font-weight: 200;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
    padding: 0;
	z-index:1000;
	text-transform: uppercase;
	text-align: center;
}

p {
	margin:0 0 1em;
}

h4{
	margin-bottom: 0.5em;
}

.subHeading {
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 200;
    padding: 0;
	color:white;
}
.right {
	float:right;
} 
.left {
	float:left;
}
.center {
	max-width: 88%;
	margin: 0 auto;
}
.alignLeft{
	float:left;
	margin-right:1em;
}
.alignRight{
	float:right;
	margin-left:1em;
}
.fullWidth, 
.fullWidth img{
	width:100%;
}
.logoContainer{
	margin-top: 1em;
}

.logo{
	position: absolute;
	width: 30%;
	
	left: 35%;
	z-index: 1;
	
	/***/
	-webkit-transition: top 500ms ease-in;
	-moz-transition: top 500ms ease-in;
	-ms-transition: top 500ms ease-in;
	-o-transition: top 500ms ease-in;
	transition: top 500ms ease-in;
	-webkit-transition-property: top, width;
	-moz-transition-property: top, width;
	-ms-transition-property: top, width;
	-o-transition-property: top, width;
	transition-property: top, width;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-ms-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	
}

.logoContainerCBC{
	margin-bottom: 1em;
}
.logoCBC {
	position: fixed;
	width: 20%;
	
	left: 74%;
	z-index: 1;
	
	bottom: 2em;
	
	/***/
	-webkit-transition: bottom 750ms ease-in;
	-moz-transition: bottom 750ms ease-in;
	-ms-transition: bottom 750ms ease-in;
	-o-transition: bottom 750ms ease-in;
	transition: bottom 750ms ease-in;
	-webkit-transition-property: bottom, width;
	-moz-transition-property: bottom, width;
	-ms-transition-property: bottom, width;
	-o-transition-property: bottom, width;
	transition-property: bottom, width;
	-webkit-transition-timing-function: cubic-bezier(0.13,-0.54,0.7,1.3);
	-moz-transition-timing-function: cubic-bezier(0.13,-0.54,0.7,1.3);
	-ms-transition-timing-function: cubic-bezier(0.13,-0.54,0.7,1.3);
	-o-transition-timing-function: cubic-bezier(0.13,-0.54,0.7,1.3);
	transition-timing-function: cubic-bezier(0.13, -0.54, 0.7, 1.3);
}

.footerLogo{
	width: 30%;
	position: absolute;
	right: 0;
}
.retractTop{
	top: -50em;
}
.retractBottom{
	bottom: -50em;
}
.underline{
	text-decoration: underline;
}

/*Added by Skywalker */
.rougeCerise {
	color:#E31937;
}
.bold {
	font-weight:bold;
}
.betteraveCGI {
	color:#991F3D;
}
/* @end -global */


/* @group -HEADER
------------------------------------------------------------------------------------------*/
header {
	position:fixed;
	top: 0;
	width: 98%;
	margin:0 1%;
	z-index: 9999;
	text-align: center;
	min-width: 330px;
	/* Ajout From SkyWalker */
	font-family:"HelveticaN", Arial, sans-serif;
}
header > span {
	display: inline-block;
	padding: 0 1em;
	
	background-color:#A5ACB0;

	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;	

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 2px 2px 8px #323435;
	position: relative;
	z-index: 10;
}
/* @end -header */

/* @group -FOOTER
------------------------------------------------------------------------------------------*/
footer {
	width:100%;
	background-color: rgb(54, 50, 50);
	color: #FFFFFF;
	font-size: 0.75em;
	line-height: 1em;
	padding: 1em 0;
	overflow: hidden;
	z-index: 9999;
}

footer img{
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

footer span{
	color: #ff9900;
	font-weight: bold;
	font-size: 0.75em;
}

footer li{
	display:inline;
}

footer p {
	width: 70%;
}

footer ul{
	width: 70%;
}

/* @end -footer */


/* @group -NAV
------------------------------------------------------------------------------------------*/
.smallScreen{
	display: none;
}
#mainNav ul { 
	text-align: left;
	display: inline;
	position: relative;
}
#mainNav > ul > li {
	float:left;
	position: relative;
}
#mainNav > ul > li > a {
	color: #FFFFFF;
	font-size: 1.2em;
	line-height: 1.3em;
	text-decoration: none;
	/* Updated by SkyWalker */
	/*text-shadow: 0px 0 rgba(0,0,0,0.31), 0 1px rgba(0,0,0,0.5), 0px 0 rgba(0,0,0,0.5), 0 0px rgba(0,0,0,0.5);*/
	border: 1px solid transparent;
	padding: 0 0.4em;
	display: inline;
	position: relative;
}

#mainNav > ul > li > a:hover, 
#mainNav > ul > li > a:focus, 
#mainNav > ul > li.active > a {
	color: #E31937;
	text-shadow:none;
}
/* @end -nav */

/* @group -CONTENT
------------------------------------------------------------------------------------------*/
#home{
	padding:0;
	height: 100%;
}
.row:after{
	content:"";
	display:block;
	clear:both;
}
.grey{
	/*Update by SkyWalker couleur Charte */
	background-color:#A5ACB0;
	color:#fff;
	border-bottom:1px solid #f6f6f6;
	border-top:1px solid #f6f6f6;
	
	-moz-box-shadow:   	inset 0 6px 6px -6px rgba(0,0,0,0.75),
						inset 0 -6px 6px -6px rgba(0,0,0,0.75);
	-webkit-box-shadow: inset 0 6px 6px -6px rgba(0,0,0,0.75),
						inset 0 -6px 6px -6px rgba(0,0,0,0.75);
	box-shadow:         inset 0 6px 6px -6px rgba(0,0,0,0.75),
						inset 0 -6px 6px -6px rgba(0,0,0,0.75);
}

.bleuCGI{
	background-color:#A1C4D0;
}
.imgHolder{
	display:inline-block;
	padding:1px;
	/*Updated by SkyWaker */
	/*background:#fff;*/
	margin-bottom:1em;
	max-width:100%;
	overflow:hidden;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
* +html .imgHolder{
	max-width:93.5%;
	border-width:3%;
	padding:0;
}
.imgHolder img{
	display:block;
}
.columns{
	width:100%;
	text-align:justify;
}
.columns:after{
	content:"";
	display:block;
	clear:both;
}
.columns > div,
.columns > article,
.columns > article > div{
	float:left;
	vertical-align:top;
}
.half{
	width:48.0%;
	margin:1.3%;
}
.oneThird{
	width:32%;
	margin:1%;
}
.twoThird{
	width:65%;
	margin:1%;
}
.columns > div:first-child,
.columns > article:first-child, 
.columns > article > div:first-child {
	margin-left:0;
}
.oneThird +.oneThird +.oneThird,
.threeForth + .oneForth,
.oneForth + .half,
.half + .half,
.half + .oneForth + .oneForth,
.last{
	float:right;
	margin-right:0;
}
.whiteColumn{
	background-color:#FFFFFF;
}
/* @end -content */



/* @group -OFFRES
------------------------------------------------------------------------------------------*/
.offres-thumb {
	display: block;
	width: 95%;
	position: relative;
	margin: 0 2.5%;
}
.offres-infos{
	width: 80%;
	margin: 3% 10%;
}
.offres-thumb:hover{
	cursor: pointer;
}
.offres-thumb-wrapper {
	width: 100%;
	height: 100%;
}

.offres-thumb img {
	width:100%;
}
.offres-caption-background{
	position: absolute;
	top: 67%;
	width: 90%;
	padding: 3% 5%;
	text-align: center;
}
.offres-caption {
	width: 80%;
	color: rgb(0,0,0);
	font-size: 0.9em;
	line-height: 1em;
}

.offres-caption .offres-caption-title {
	font-size: 1.2em;
	line-height: 1.35em;
}

.offres-caption .offres-caption-information {
	font-size: 0.79em;
}

.offres-thumb .offres-thumb-detail {
	width:100%;
	height:100%;
	position:absolute;			
	background:#fff;
	text-align:justify;
	padding:5px;
	top: 0;
}
.offres-thumb .offres-thumb-detail img{
	z-index: -1;
}

.offres-thumb .offres-thumb-detail .offres-thumb-detail-text {
	font-size: 0.72em;
	padding: 1em 3em 1em 1em;
	
	position: absolute;
	top:0;
}
.offres-thumb .offres-thumb-detail .offres-thumb-detail-text-resume {
	display: none;
	
	font-size: 0.72em;
	padding: 1em 3em 1em 1em;
	
	position: absolute;
	top:0;
}

.offres-thumb .offres-thumb-detail a {
}		

/****/
/* Without CSS3 */
.offres-thumb.scroll {
	overflow: hidden;
}	
.offres-thumb.scroll .offres-thumb-detail {
	bottom: -100%;
	top: auto;
}
/*****/

.offres-thumb.flip {
	-webkit-perspective: 850px;
	-moz-perspective: 850px;
	-ms-perspective: 850px;	   		
	-o-perspective: 850px;
	perspective: 850px;
}
.offres-thumb.flip .offres-thumb-wrapper {
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -moz-transform 1s;
	-o-transition: -moz-transform 1s;
	transition: -moz-transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;			
	-ms-transform-style: preserve-3d;			
	-o-transform-style: preserve-3d;			
	transform-style: preserve-3d;			
}
.offres-thumb.flip .offres-thumb-detail {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.offres-thumb.flip img,
.offres-thumb.flip .offres-caption-background,
.offres-thumb.flip .offres-thumb-detail {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.offres-thumb.flip .flipIt {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);			
}

.cart {
	position: absolute;
	left: 0;

	width: 18%;
	height: 30%;
	
	z-index: 1;
	
	margin-left: -3px;
	
	/* background-color: #A5ACB0;
	padding: 3px 3px 3px 0; */
}

.cart-container {
	width: 100%;
	height: 100%;
	padding: 3px 3px 3px 0;
	background-color: #A5ACB0;
	
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

.cart-content {
	width: 100%;
	height: 100%;
	
	background-color: rgb(255, 255, 255);
}

.cart-icon {
	position: absolute;
	background: #777;
	right: 0;
	top: 5%;
	margin-right: -38px;
	padding: 3px 4px 3px 7px;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

.cart-icon:hover{
	background: #E31937;
}

.cart-icon img {
	height: 26px;
	width: 27px;
}

.cart-title {
	position: relative;
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}
.cart-title h3 {
	margin: 0;
	padding: 5px 0 3px 26px;
	position: relative;
	font-size: 1.1em; 
	line-height: 1.2em;
}

.cart-information {
	opacity: 0.3;
	font-size: 0.9em;
}

.cart-offers {
	padding: 10px 25px;
	font-size: 0.8em;
}

.cart-offers ul{
	list-style-type: circle;
}
/***/
.cart-btn {
	position: absolute;
	bottom: 0;
	right: 5px;

	-moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
	box-shadow: inset 0px 1px 0px 0px #f29c93;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background: -moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color: #fe1a00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d83526;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 0.7em;
	font-weight: bold;
	padding: 4px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #b23e35;
}

.cart-btn:hover {
	cursor: pointer;
}

.cart-btn.inactive {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 0.7em;
	font-weight: bold;
	padding: 4px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	
	opacity: 0.6;
}

.cart-btn.inactive :hover {
	cursor: default;
}

/*
.cart-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}

.cart-button:active {
	position:relative;
	top:1px;
}
*/
/***/
.openedCart .cart-container{
	background-color: #E31937;
}

.openedCart .cart-icon {
	background: #E31937;
}

.closedCart{
	left: -18%;
}

/* .cart.absBottom{
	position: absolute;
	top: 180%;
} */
/* @end -offres */

/* @group -EXPERTISES
------------------------------------------------------------------------------------------*/
.expertise ul  {	
	list-style-type: circle;
}

.expertise ul li{	
	margin: 1em;
}
.expertise ul li ul li{	
	margin: 0 0 0 3em;
}

.expertise ul li ul li:last-child{	
	margin: 0 0 1em 3em;
}

.expertise-title {
	text-decoration: underline;
	margin-bottom: 0.5em;
}

.expert {
	font-size: 0.8em;
	margin: 2em 0;
}

.expert img {
	float: left;
	margin-right: 1em;
}

.expert-desc {
}
/*
#expertise ul  li.social{	
	list-style-image : url(puce.gif);
}
*/

/* @end -expertises */


/* @group -NEWS
------------------------------------------------------------------------------------------*/
.news > div{
	border: 1px solid #505a68;
	position: relative;
	padding: 0 0 50px;
	margin: 0 0 30px;
	height: 1%;
}
.news > div:after{
	content:"";
	display:block;
	clear:both;
}

.news h3{
	font-size:1.714em;
	line-height:2.583em;
	text-align:center;
	margin:0 0 0.83em;
	border-top:1px solid #909eb2;
	border-bottom:1px solid #545b65;
	background:#5d6a7c;
	
	background-image: linear-gradient(bottom, rgb(93,106,124) 0%, rgb(126,137,153) 100%);
	background-image: -o-linear-gradient(bottom, rgb(93,106,124) 0%, rgb(126,137,153) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(93,106,124) 0%, rgb(126,137,153) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(93,106,124) 0%, rgb(126,137,153) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(93,106,124) 0%, rgb(126,137,153) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(93,106,124)),
		color-stop(1, rgb(126,137,153))
	);
}
.news h3 a{
	color: #FFFFFF;
}

.news .content{
	width:83%;
	overflow:hidden;
	margin:0 auto;
	text-align:justify;
	color:#000000;
	background-color:#FFFFFF;
}
/* @end -news */

/* @group -PARTNERS
------------------------------------------------------------------------------------------*/
.textLeft{
	text-align: left;
}
.textRight{
	text-align: right;
}
.textCenter{
	text-align: center;
}
.partners .content{
	width:83%;
	overflow:hidden;
	margin:0 auto;
	text-align:justify;
}

.partner{
	background: rgb(255, 255, 255);
	margin: 1em 0;
	color: #000000;
	border:	1px solid #505a68;
	padding: 0.5em 0;
}
/***/
.form{
	width:92%;
}
.formRow{
	width:100%;
	margin:0 0 1.5em;
}
.formRow:after{
	content: "";
	display: block;
	clear: both;
}
.textField{
	width: 100%;
	border: 1px solid #505a68;
	background: #798493;
	padding: 0.5em;
	
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
			
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	
	-moz-box-shadow:   	0 1px 1px rgba(255,255,255,0.36);
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.36);
	box-shadow:         0 1px 1px rgba(255,255,255,0.36);
}

input,
textarea {
	background: #FFFFFF;
	font: 0.9em/1em Arial, Helvetica, sans-serif;
	color: #444;
	width: 100%;
	padding: 0.7em 1em;
	border: 1px solid #505762;
	margin: 0;
	
	-moz-box-shadow:   	inset 0 0px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: inset 0 0px 3px rgba(0,0,0,0.75);
	box-shadow:         inset 0 0px 3px rgba(0,0,0,0.75);
	
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
			
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

input:focus, 
textarea:focus {  
	/*
	background-color: rgba(126, 28, 53, 0.44);  
	*/
	outline-style: none;
} 

input[placeholder],
textarea[placeholder] {
	color: rgba(155, 155, 155, 0.9);
}

textarea{
	height: 15em;
}

* +html input,
* +html textarea,
* +html .textField{
	width:99%;
	padding:0;
}
.btn{
	display:inline-block;
	padding:1.7em 0.4em;
	border: 1px solid #505a68;
	background: #798493;
	
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
			
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	
	-moz-box-shadow:   	0 1px 1px rgba(255,255,255,0.36);
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.36);
	box-shadow:         0 1px 1px rgba(255,255,255,0.36);
	cursor:pointer;
}
.btn span{
	font:1.2em/1.214em Arial, Helvetica, sans-serif;
	color:#fff;
	padding: 1em;
	
	border: 1px solid #505762;
	/*margin: 0;*/
	
	-moz-box-shadow:   	inset 0 0px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: inset 0 0px 3px rgba(0,0,0,0.75);
	box-shadow:         inset 0 0px 3px rgba(0,0,0,0.75);
	
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
			
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	
	background:rgb(160,188,226);
	background-image: linear-gradient(bottom, rgb(98,119,149) 0%, rgb(160,188,226) 100%);
	background-image: -o-linear-gradient(bottom, rgb(98,119,149) 0%, rgb(160,188,226) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(98,119,149) 0%, rgb(160,188,226) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(98,119,149) 0%, rgb(160,188,226) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(98,119,149) 0%, rgb(160,188,226) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(98,119,149)),
		color-stop(1, rgb(160,188,226))
	);

}
* +html .btn{
	margin:0;
}
.btn:hover span{
	background-image: linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);
	background-image: -o-linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(109,131,164) 0%, rgb(169,199,241) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(109,131,164)),
		color-stop(1, rgb(169,199,241))
	);
}

#map{
	border:1px solid #535d6b;
	padding:0.428em;
	background:#798493;
	margin:0 0 1em;
}
#map .imgHolder{
	border:0;
	margin:0;
	display:block;
}
#map .imgHolder img{
	width:100%;
}

/* @end -partners */

/* @group -PAROLES EXPERTS
------------------------------------------------------------------------------------------*/
.parolesExpert .whiteColumn{
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}
/* @end -paroles experts */

/* @group -MEDIA
------------------------------------------------------------------------------------------*/
.media{
	margin: 2em 0;
}
.videoDSIN{
	width: 85%;
}
/* @end -media */




/* @group -1050PX
------------------------------------------------------------------------------------------*/
@media (max-width: 1050px) {
	.logo{
		width:50%;
		left: 25%;
	}
	.subHeading {
		font-size: 1.3em;
	}
	
	/* @group -PARTNERS
	-------------------------------------*/
	.formRow{
		margin:0 0 0.5em;
	}
	/* @end -partners */
	
	/* @group -OFFERS
	-------------------------------------*/
	.offres-caption {
		font-size: 0.8em;
		line-height: 1em;
	}

	.offres-caption .offres-caption-title {
		font-size: 1.2em;
		line-height: 1.4em;
	}
	/* @end -offers */
}
/* @end -1050px */



/* @group -860PX
------------------------------------------------------------------------------------------*/
@media screen and (max-width: 860px){
	body{
		font-size: 110%;
	}
	/* @group -HEADER
	-------------------------------------*/
	#header { 
		margin: 0; 
		width: 100%;
	}
	/* @end -header */
	
	/* @group -FOOTER
	-------------------------------------*/
	footer {
		font-size: 0.68em;
	}
	/* @end -nav */
	
	/* @group -NAV
	-------------------------------------*/
	.smallScreen{
		display: inline;
	}
	.largeScreen{
		display: none;
	}
	.logo{
		width:40%;
		left: 30%;
	}
	.logoCBC{
		position: absolute;
		width: 30%;
		left: 35%;
		bottom: -8em;;
	}
	.retractBottom{
		bottom: -50em;
	}
	#mainNav > ul > li > a {
		font-size: 1.3em;
		padding: 0 0.3em;
	}
	#mainNav > ul > li > .menu {
		color: #FFFFFF;
		font-size: 1.3em;
		line-height: 1.3em;
		text-decoration: none;
		text-shadow: 0px 0 rgba(0,0,0,0.31), 0 1px rgba(0,0,0,0.5), 0px 0 rgba(0,0,0,0.5), 0 0px rgba(0,0,0,0.5);
		border: 1px solid transparent;
		padding: 0 0.3em;
		display: inline;
		position: relative;
	}
	#mainNav > ul > li > .subs {
		display: inline;
	}
	#mainNav > ul > li > .menu:hover,
	#mainNav > ul > li > .menu:focus{
		/*Updated by SkyWalker*/
		color:#E31937;
		cursor: pointer;
	}
	#mainNav > ul > li.selected > .menu {
		/*Updated by SkyWalker*/
		/*background-color: #FFFFFF;
		border-color: #999999 #999999 #FFFFFF;*/
		color: #E31937;
	}
	#mainNav ul li div{
		position: relative;
	}
	#mainNav ul li div div{
		background-color: #FFFFFF;
		/*Updated by SkyWalker */
		/*border: 1px solid #999999;*/
		border:1px solid #A5ACB0;
		/***/
		padding: 0.3em 0;
		display: none;
		margin: 0;
		position: absolute;
		top: -1px;
		opacity: 0.9;
		
		/*
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;*/
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 1em;
		border-bottom-left-radius: 1em;
		/*border-top-right-radius: 1em;
		box-shadow: 0.5em 0.5em 1em grey;*/
		
	}
	#mainNav ul li div ul{
		padding: 0 10px;
		position: relative;
		width: 10em;
		float: left;
	}
	#mainNav ul li ul li a {
		display: block;
		margin-bottom: 1px;
		padding: 3px 5px;
		text-decoration: none;
	}
	#mainNav ul li ul li a:hover, 
	#mainNav ul li ul li a:focus{
		/*Updated by SkyWalker */
		color: #E31937;
		/*background-color: #990033;*/
	}
	/* @end -nav */
	
	/* @group -CONTENT
	-------------------------------------*/
	.half{
		width:100%;
		font-size: 1em;
		line-height: 1em;
	}
	.oneThird{
		width:100%;
		font-size: 0.9em;
		line-height: 1em;
	}
	.twoThird{
		width:100%;
		font-size: 0.9em;
		line-height: 1em;
	}
	section{
		padding-top:1.8em;
	}
	
	h1{
		font-size: 1.2em;
	}
	h2{
		font-size: 1.1em;
	}
	.subHeading{
		font-size: 1.2em;
	}
	/* @end -content */
	
	/* @group -OFFRES
	-------------------------------------*/
	.offres-thumb {
		/* height: 13em; */
	}
	.offres-thumb {
		width: 80%;
		margin: 0 10%;
	}
	.offres-caption {
		font-size: 0.9em;
		line-height: 1em;
	}

	.offres-caption .offres-caption-title {
		font-size: 1.2em;
		line-height: 1.3em;
	}

	.offres-caption .offres-caption-information {
		font-size: 0.8em;
	}
	
	/* @end -offres */
	
	/* @group -PARTNERS
	-------------------------------------*/
	input,
	textarea{
		font: 0.7em/1em Arial, Helvetica, sans-serif;
	}
	.btn{
		padding:1.3em 0.5em;
	}
	/* @end -partners */
}
/* @end -860px */


/* @group -SMARTPHONE
------------------------------------------------------------------------------------------*/
@media all and (max-device-width: 480px){
	body{
		font-size: 220%;
	}
	/* @group -HEADER
	-------------------------------------*/
	#header { 
		margin: 0; 
		width: 100%;
	}
	/* @end -header */
	
	/* @group -FOOTER
	-------------------------------------*/
	footer {
		font-size: 0.68em;
	}
	/* @end -nav */
	
	/* @group -NAV
	-------------------------------------*/
	.smallScreen{
		display: inline;
	}
	.largeScreen{
		display: none;
	}
	#mainNav > ul > li > a {
		font-size: 1.7em;
		padding: 0 0.5em;
	}
	/*Added by Skywalker */
	.logo{
		width:60%;
		left: 20%;
	}
	.logoCBC{
		position: absolute;
		width: 30%;
		left: 35%;
		bottom: -6em;;
	}
	.retractBottom{
		bottom: -50em;
	}
	#mainNav > ul > li > .menu {
		color: #FFFFFF;
		font-size: 1.7em;
		line-height: 1.3em;
		text-decoration: none;
		text-shadow: 0px 0 rgba(0,0,0,0.31), 0 1px rgba(0,0,0,0.5), 0px 0 rgba(0,0,0,0.5), 0 0px rgba(0,0,0,0.5);
		border: 1px solid transparent;
		padding: 0 0.5em;
		display: inline;
		position: relative;
	}
	#mainNav > ul > li > .subs {
		display: inline;
		font-size: 1.6em;
		line-height: 1.3em;
	}
	#mainNav > ul > li > .menu:hover,
	#mainNav > ul > li > .menu:focus{
		color:#990033;
		cursor: pointer;
	}
	#mainNav > ul > li.selected > .menu {
		background-color: #FFFFFF;
		border-color: #999999 #999999 #FFFFFF;
		color: #990033;
	}
	#mainNav ul li div{
		position: relative;
	}
	#mainNav ul li div div{
		background-color: #FFFFFF;
		border: 1px solid #999999;
		/***/
		padding: 0.3em 0;
		display: none;
		margin: 0;
		position: absolute;
		top: -1px;
		opacity: 0.9;
		
		/***/
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 1em;
		border-bottom-left-radius: 1em;
		border-top-right-radius: 1em;
		box-shadow: 0.5em 0.5em 1em grey;
		
	}
	#mainNav ul li div ul{
		padding: 0 10px;
		position: relative;
		width: 10em;
		float: left;
	}
	#mainNav ul li ul li a {
		display: block;
		margin-bottom: 1px;
		padding: 3px 5px;
		text-decoration: none;
	}
	#mainNav ul li ul li a:hover, 
	#mainNav ul li ul li a:focus{
		color: #FFFFFF;
		background-color: #990033;
	}
	/* @end -nav */
	
	/* @group -CONTENT
	-------------------------------------*/
	.half{
		width:100%;
		font-size: 1em;
		line-height: 1em;
	}
	.oneThird{
		width:100%;
		font-size: 0.9em;
		line-height: 1em;
	}
	.twoThird{
		width:100%;
		font-size: 0.9em;
		line-height: 1em;
	}
	section{
		padding-top:1.8em;
	}
	
	h1{
		font-size: 1.2em;
	}
	h2{
		font-size: 1.1em;
	}
	.subHeading{
		font-size: 1.2em;
	}
	/* @end -content */
	
	/* @group -OFFRES
	-------------------------------------*/
	.cart{
		display: none;
	}
	
	.offres-caption {
		font-size: 0.8em;
	}
	
	.offres-caption .offres-caption-title {
		font-size: 1em;
		line-height: 1.1em;
	}

	.offres-caption .offres-caption-information {
		font-size: 0.7em;
	}
	.offres-thumb .offres-thumb-detail .offres-thumb-detail-text {
		display: none;
	}
	.offres-thumb .offres-thumb-detail .offres-thumb-detail-text-resume {
		display: block;
	}
	/* @end -offres */
	
	/* @group -PARTNERS
	-------------------------------------*/
	input,
	textarea{
		font: 0.7em/1em Arial, Helvetica, sans-serif;
	}
	.btn{
		padding:1.3em 0.5em;
	}
	.btn span{
		font-size: 2em;
	}
	/* @end -partners */
}
/* @end -smartphone */

/* @group -SMARTPHONE LANDSCAPE
------------------------------------------------------------------------------------------*/
@media all and (max-device-width: 480px) and (orientation: landscape){
	body{
		font-size: 110%;
	}
	/*Added by Skywalker */
	.logo{
		width:35%;
		left: 35%;
	}
	.logoCBC{
		position: absolute;
		width: 20%;
		left: 40%;
		bottom: -9em;;
	}
	.retractBottom{
		bottom: -50em;
	}
	#mainNav > ul > li {
		padding-top: 1em;
	}
	#mainNav > ul > li > a {
		font-size: 2.5em;
		padding: 0 0.5em;
	}
	#mainNav > ul > li > .menu {
		color: #FFFFFF;
		font-size: 2.5em;
		line-height: 1.3em;
		text-decoration: none;
		text-shadow: 0px 0 rgba(0,0,0,0.31), 0 1px rgba(0,0,0,0.5), 0px 0 rgba(0,0,0,0.5), 0 0px rgba(0,0,0,0.5);
		border: 1px solid transparent;
		padding: 0 0.5em;
		display: inline;
		position: relative;
	}
	#mainNav > ul > li > .subs {
		font-size: 2.2em;
		line-height: 1.3em;
	}
	
	.cart{
		display: none;
	}
	
	.offres-thumb .offres-thumb-detail .offres-thumb-detail-text {
		display: block;
	}
	.offres-thumb .offres-thumb-detail .offres-thumb-detail-text-resume {
		display: none;
	}
}
/* @end -smartphone landscape */

/* @group -720PX
------------------------------------------------------------------------------------------*/
@media (max-width: 720px) {
	.logo{
		width: 50%;
		left: 25%;
	}
}
/* @end -720px */

/* @group -600PX
------------------------------------------------------------------------------------------*/
@media (max-width: 600px) {
	.cart{
		display: none;
	}
	
	.offres-caption {
		font-size: 0.8em;
	}
	
	.offres-caption .offres-caption-title {
		font-size: 1.2em;
		line-height: 1.35em;
	}

	.offres-caption .offres-caption-information {
		font-size: 0.79em;
	}
}
/* @end -600px */


/* @group -250PX
------------------------------------------------------------------------------------------*/
@media (max-width: 250px) {
	/* #mainNav > ul > li > a {
		font-size: 0.8em;
		padding: 0 0.1em;
	}
	#mainNav > ul > li > .menu {
		font-size: 0.8em;
		padding: 0 0.1em;
	} */
}
/* @end -250px */