<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />                
			<remove statusCode="500" subStatusCode="-1" />
			<!-- local relative path when responsemode is ExecuteURL -->
			<error statusCode="404" path="/components/404.php" responseMode="ExecuteURL" />                
			<!-- <error statusCode="500" path="/components/500.php" responseMode="ExecuteURL" /> -->
		</httpErrors>
		<rewrite>
			<rules>
				<!-- HOME -->
				<rule name="homeEngage">
					<match url="^engage-the-web/$" />
					<action type="Rewrite" url="./" />
				</rule>
				<rule name="homeMove2">
					<match url="^move-to-digital-workplace/$" />
					<action type="Rewrite" url="./" />
				</rule>
				<rule name="homeSocialB">
					<match url="^transform-into-social-business/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				<rule name="homeCloud">
					<match url="^go-to-cloud/$" />
					<action type="Rewrite" url="./" />
				</rule>		
				
				<!-- OFFRES -->
				<rule name="offres">
					<match url="^les-offres-dsin/$" />
					<action type="Rewrite" url="./" />
				</rule>
				<rule name="offresDAM">
					<match url="^les-offres-dsin/digital-asset-management/$" />
					<action type="Rewrite" url="./" />
				</rule>
				<rule name="offresCommExt">
					<match url="^les-offres-dsin/communautes-externes/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				<rule name="offresWaas">
					<match url="^les-offres-dsin/workplace-as-a-service/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				<rule name="offresSoCo">
					<match url="^les-offres-dsin/social-collaboration/$" />
					<action type="Rewrite" url="./" />
				</rule>
				<rule name="offresePres">
					<match url="^les-offres-dsin/e-presence-reputation/$" />
					<action type="Rewrite" url="./" />
				</rule>						
				<rule name="offreseDW">
					<match url="^les-offres-dsin/digital-workplace/$" />
					<action type="Rewrite" url="./" />
				</rule>			
				<rule name="offreseSoBu">
					<match url="^les-offres-dsin/social-business/$" />
					<action type="Rewrite" url="./" />
				</rule>		
				
				<!-- EXPERTISES -->
				<rule name="nosExperts">
					<match url="^nos-expertises/$" />
					<action type="Rewrite" url="./" />
				</rule>					
				
				<!-- PAROLES DE CLIENTS -->
				<rule name="parolesClients">
					<match url="^paroles-de-clients/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				<rule name="parolesClientsValeo">
					<match url="^paroles-de-clients/valeo/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				<rule name="parolesClientsPharma">
					<match url="^paroles-de-clients/groupe-pharmaceutique/$" />
					<action type="Rewrite" url="./" />
				</rule>					
				<rule name="parolesClientsBank">
					<match url="^paroles-de-clients/banque-investissement/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				
				<!-- PAROLES D EXPERT -->
				<rule name="parolesExpert">
					<match url="^paroles-expert/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				
				<!-- MEDIA -->
				<rule name="videoMedia">
					<match url="^videos-media/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				<rule name="videoMedia1">
					<match url="^videos-media/video-social-business/$" />
					<action type="Rewrite" url="./" />
				</rule>					
				<rule name="videoMedia2">
					<match url="^videos-media/video-dsin-on-the-cloud/$" />
					<action type="Rewrite" url="./" />
				</rule>						
				<rule name="videoMedia3">
					<match url="^videos-media/video-outils-et-collaboration/$" />
					<action type="Rewrite" url="./" />
				</rule>	

				<!-- PARTENAIRES -->
				<rule name="partenaires">
					<match url="^nos-partenaires/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				<rule name="partenaires1">
					<match url="^nos-partenaires/office365/$" />
					<action type="Rewrite" url="./" />
				</rule>
				<rule name="partenaires2">
					<match url="^nos-partenaires/newsgator/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				<rule name="partenaires3">
					<match url="^nos-partenaires/lotus-connections/$" />
					<action type="Rewrite" url="./" />
				</rule>		
				<rule name="partenaires4">
					<match url="^nos-partenaires/jive/$" />
					<action type="Rewrite" url="./" />
				</rule>					
				<rule name="partenaires5">
					<match url="^nos-partenaires/salesforce-marketing-cloud/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				<rule name="partenaires6">
					<match url="^nos-partenaires/google/$" />
					<action type="Rewrite" url="./" />
				</rule>

				<!-- CONTACT -->
				<rule name="contact">
					<match url="^contactez-nous/$" />
					<action type="Rewrite" url="./" />
				</rule>	
				
			</rules>
		</rewrite>
	</system.webServer>
</configuration>