<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="SpecificRewrite">
					<match url="^page$" />
					<action type="Rewrite" url="/test.html" />
				</rule>
				<rule name="SpecificRewrite2">
					<match url="^test$" />
					<action type="Rewrite" url="/index.php" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>